# Virtual environment
.venv/
venv/
env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Log files
*.log
app.log
logs/

# IDE settings
.vscode/
.idea/

# Environment variables
.env
.env.*

# Database
*.db
*.sqlite3

# **/firebase-credentials.json